extends ../../layout/index.pug
block main
  - if (messages.update)
    .message.update
      .alert.alert-success(
    show-alert
    data-time = "5000") #{messages.update}
  .card.border-primary.ml-5(style="width: 30rem")
    .card-body
        table.table.table-bordered
            form( id='editForm' method="POST" action=`/admin/account/change-password/${account.id}?_method=PATCH`) 
                tr.d-none 
                    td id
                    td 
                        input.form-control(type='text' value=account.id name='id' readonly)
                tr 
                    td Email
                    td 
                        input.form-control(type='text' value=account.email name='email' readonly)
                tr 
                    td Password
                    td 
                     input.form-control(type='password' name='password')
                tr 
                    td 
                        button.btn.btn-primary(type='submit') Save