extends ../../layout/login.pug
block main
    - if (messages.update)
        .message.update
        .alert.alert-success(
        show-alert
        data-time = "5000") #{messages.update}

    - if (messages.delete)
        .message.delete
        .alert.alert-danger(
        show-alert
        data-time = "5000") #{messages.delete}
    
    form.form-login(
        method='POST'
        action='/admin/auth/login'
    )   
        img(src='https://cdn-icons-png.flaticon.com/512/9322/9322127.png')
        div.form-group 
            label(for='email') Email 
            input.form-control#email(type='email' name='email')
        div.form-group 
            label(for='pass') Password 
            input.form-control#pass(type='password' name='password')
        button.btn.btn-primary Sign in
        //- aa
