.footer .src{
  text-align: center;
  background-color: #333;
  color: #ffff;
  padding: 10px 0;
}
.header .logo{
  object-fit: cover;
  width: 200px;
}
.box-head{
  color: #333;
  font-weight: 550;
  font-size: 30px;
}
.header ul{
 display: flex;
 list-style-type: none;
}
.header ul li{
  margin: 0 15px;
}