header.header
  .container-fluid  
    .row.align-item-center 
      .col-3 
        .inner-logo   
          a(href=`${prefixAdmin}/dashboard`) ADMIN 
      .col-8
      .col-1g 
          a.btn.btn-danger(href=`${prefixAdmin}/auth/logOut`) Đăng xuất 
