header.header 
  .container
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
      a(class="navbar-brand" href="#")
        img(src="https://cdn.vectorstock.com/i/1000v/38/13/letter-m-logo-on-white-alphabet-background-vector-21803813.jpg " width="30" height="30" alt="")
      a(class="nav-link"  href="/") Home
      a(class="nav-link"  href="/product") Product

      a.btn.btn-primary(class="nav-link"  href="/admin/auth/login") Login for admin

          