doctype html
html
  head
    title= titlePage
    link(rel="stylesheet" href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css')
    //- dấu / thể hiện cho 'public'
    link(rel="stylesheet" href='/adminCSS/style.css') 
  body
    include ../partial/header.pug
    .body 
      .main 
        include ../partial/sider.pug
        block main

    script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js')
    script(src='/js/scripts.js')
    scr

